/* Clients */
.clients {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clients h1 {
    color: #303030;
    font-size: 36px;
    font-weight: 700;
}

.clients p {
    color: #303030;
    font-size: 16px;
    font-weight: 400;
    margin: auto 20%;
    text-align: center;
}

.clients figure {
    margin-top: 2%;
}

@media screen and (max-width: 821px) {
    .clients h1 {
        font-size: 2rem;
    }

    .clients p {
        font-size: 1rem;
        margin: auto 0%;
    }

    .clients figure {
        margin-top: 2rem;
    }

    .clients img{
        width: 100%;
    }

}