/* FAQ */

.faq-section {
    margin: 5% 15%;
    text-align: center;
}

.faq-section>p {
    color: #0086D5;
}

.faq-section>h1 {
    color: #303030;
    font-size: 36px;
    font-weight: 700;
}

.faq-section-content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 7%;
}

.faq-list {
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.faq-list>div {
    padding: 3% 5%;
    width: 80%;
    border: solid 1px rgba(112, 112, 112, 0.49);
    border-radius: 15px;
    display: grid;
    grid-template-columns: 90% 10%;
    align-items: center;
}

.faq-list>div h1 {
    display: inline-block;
    margin-right: 1.5rem;
    justify-self: flex-start;
    font-size: 18px;
    font-weight: 700;
}

.faq-list>div span {
    justify-self: flex-end;
}

.question-content {
    color: #696969;
    font-size: 11px;
    text-align: left;
    padding-right: 3%;
}

.faq-section figure {
    z-index: 2;
    position: relative;
    bottom: -10rem;
}

@media screen and (max-width: 821px) {
    .faq-section {
        margin: 5%;
        text-align: center;
    }
    
    .faq-section>p {
        color: #0086D5;
    }
    
    .faq-section>h1 {
        font-size: 2rem;
    }
    
    .faq-section-content {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin-top: 7%;
    }
    
    .faq-list {
        display: flex;
        flex-direction: column;
        gap: 5%;
    }
    
    .faq-list>div {
        width: auto;
        margin-top: 1rem;
    }
    
    .faq-list>div h1 {
        font-size: 1.25rem;
        text-align: left;
    }
    
    .question-content {
        font-size: 0.75rem;
        padding-right: 0;
    }
    
    .faq-section figure {
        display: none;
    }
}


@media screen and (min-width: 821px) and (max-width: 1281px) {

    .faq-section figure {
        width: 50%;
    }

}

