/* Features section */

.features {
    background-color: #FAFAFA;
}

.features>div {
    margin: 5% 15%;
    padding-top: 4%;
    padding-bottom: 4%;

    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
    align-items: center;
}

.feature-content {
    width: auto;
}

.feature-content a {
    text-decoration: none;
    color: #0086D5;
}

.feature-content h1 {
    color: #303030;
    font-size: 38px;
    font-weight: 700;
}

.feature-content p {
    color: #303030;
    font-size: 16px;
    width: 75%;
}

.feature-content button {
    padding: 1.5% 4%;
}

.feature-cards {
    display: flex;
}

.feature-card-group-1 {
    display: flex;
    flex-direction: column;
}

.feature-card-group-2 {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}

.feature-card {
    border: solid 1px #707070;
    border-radius: 25px;
    margin: 5%;
    height: 10vw;
    padding: 8%;
}

.feature-card figure {
    margin: 0;
    display: inline-block;
    border-radius: 15px;
}

.feature-card h1 {
    color: #303030;
    font-size: 24px;
    font-weight: 700;
}

.feature-card p {
    color: #696969;
    font-size: 11px;
}

@media screen and (max-width: 821px) {
    .features>div {
        margin: 5%;
        display: block;
        text-align: center;
    }

    .feature-content h1 {
        font-size: 2rem;
    }

    .feature-content p {
        font-size: 1rem;
        width: auto;
    }

    .feature-cards {
        display: block;
    }

    .feature-card-group-1 {
        display: block;
    }

    .feature-card-group-2 {
        margin-top: 5%;
        display: block;
    }

    .feature-card {
        margin: 5%;
        height: 10%;
        padding: 8%;
    }

    .feature-card h1 {
        font-size: 1.25rem;
    }

}

@media screen and (min-width: 821px) and (max-width: 1281px) {

    .feature-card {
        height: 15vw;
        padding: 8%;
    }

}

@media screen and (min-width: 1281px) and (max-width: 1426px) {

    .feature-card {
        height: 15vw;
    }

}