/* Footer */
footer>div {
    margin: 5% 15%;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 32% 16% 16% 16% 16%;
    color: #464646;
}

footer h1 {
    color: #303030;
    font-size: 18px;
    font-weight: 700;
}

.social-media {
    display: flex;
    gap: 1.25rem;
    margin-top: 2rem;
}

.copyright {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0;
}

@media screen and (max-width: 821px) {

    /* Footer */
    footer{
        text-align: center;
    }
    footer>div {
        margin: 5% 15%;
        display: block;
    }

    footer h1 {
        font-size: 1.25rem;
    }

    footer p{
        font-size: 0.75rem;
    }

    .social-media {
        display: block;
        margin-top: 1rem;
    }

}