@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

body {
    margin: 0;
}

.btn-main {
    padding: 1rem 2.5rem;
}

.btn {
    background-color: #0086D5;
    color: white;
    border: none;
    border-radius: 5px;
}

